*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    background-color: white;
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.box
{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.info
{
    z-index: 1;
    font-size:  24px;
    color: black;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    border-radius: 35px;
    border-style: solid;
    line-height: 30px;
    text-align: center;
}

#coordinates
{
    font-family: 'Space Mono', monospace;
    font-style: italic;
    padding-right: 18px;
    padding-left: 18px;
}

#document
{
    padding-right: 12px;
    padding-left: 12px;
    font-family: 'Material Icons';
}

#document:hover
{
    background-color: lightgrey;
}